function Main.main 4
push constant 3
pop local 1
push constant 32
pop local 2
push constant 16
pop local 3
push local 1
push local 2
push local 3
call Juego.nuevo 3
pop local 0
push local 0
call Juego.jugar 1
pop temp 0
push constant 0
return
