function Main.main 4
push constant 3
pop local 1
push constant 32
pop local 2
push constant 20
pop local 3
push local 1
push local 2
call Main.draw 2
pop temp 0
push local 1
push local 2
push local 3
call Juego.nuevo 3
pop local 0
push local 0
call Juego.jugar 1
pop temp 0
push constant 0
return
function Main.draw 1
push constant 16384
push argument 0
add
push argument 1
push constant 32
call Math.multiply 2
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1216
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1248
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1280
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1312
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1344
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1376
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1408
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1440
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1472
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1504
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1536
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1568
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1600
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1632
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1664
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1696
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1728
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1760
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1792
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1824
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1856
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1888
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1920
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1952
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1984
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2016
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2048
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2080
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2112
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2144
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2176
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2208
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2240
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2272
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2304
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2336
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2368
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2400
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2432
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2464
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2496
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2528
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2560
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2592
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2624
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2656
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2688
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2720
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2752
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2784
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2816
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2848
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2880
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2912
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2944
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2976
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3008
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3040
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3072
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3104
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3136
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3168
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3200
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3232
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3264
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3296
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3328
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3360
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3392
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3424
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3456
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3488
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3520
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3552
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3584
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3616
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3648
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3680
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3712
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3744
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3776
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3808
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3840
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3872
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3904
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3936
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3968
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4000
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4032
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4064
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4096
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4128
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4160
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4192
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4224
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4256
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4288
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4320
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4352
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4384
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4416
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4448
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4480
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4512
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4544
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4576
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4608
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4640
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4672
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4704
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4736
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4768
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4800
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4832
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4864
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4896
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4928
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4960
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 4992
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5024
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5056
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5088
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5120
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5152
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5184
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5216
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5248
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5280
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5312
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5344
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5376
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5408
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5440
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5472
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5504
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5536
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5568
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5600
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5632
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5664
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5696
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5728
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5760
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5792
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5824
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5856
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5888
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5920
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5952
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 5984
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 6016
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 6048
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 6080
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 6112
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 6144
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 6176
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 6208
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 6240
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 6272
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 6304
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 6336
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 6368
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 6369
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 6370
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 3
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 35
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 67
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 99
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 131
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 163
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 195
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 227
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 259
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 291
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 323
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 355
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 387
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 419
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 451
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 483
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 515
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 547
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 579
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 611
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 643
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 675
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 707
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 739
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 771
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 803
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 835
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 867
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 899
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 931
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 963
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 995
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1027
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1059
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1091
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1123
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1155
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1187
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1219
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1251
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1283
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1315
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1347
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1379
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1411
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1443
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1475
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1507
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1539
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1571
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1603
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1635
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1667
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1699
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1731
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1763
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1795
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1827
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1859
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1891
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1923
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1955
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1987
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2019
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2051
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2083
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2115
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2147
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2179
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2211
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2243
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2275
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2307
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2339
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2371
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2403
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2435
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2467
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2499
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2531
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2563
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2595
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2627
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2659
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2691
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2723
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2755
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2787
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2819
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2851
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2883
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2915
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2947
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2979
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3011
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3043
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3075
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3107
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3139
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3171
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3203
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3235
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3267
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3299
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3331
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3363
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3395
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3427
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3459
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3491
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3523
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3555
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3587
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3619
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3651
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3683
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3715
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3747
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3779
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3811
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3843
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3875
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3907
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3939
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3971
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4003
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4035
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4067
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4099
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4131
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4163
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4195
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4227
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4259
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4291
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4323
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4355
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4387
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4419
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4451
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4483
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4515
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4547
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4579
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4611
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4643
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4675
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4707
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4739
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4771
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4803
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4835
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4867
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4899
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4931
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4963
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4995
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5027
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5059
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5091
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5123
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5155
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5187
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5219
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5251
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5283
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5315
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5347
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5379
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5411
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5443
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5475
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5507
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5539
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5571
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6371
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5572
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 6372
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 805
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 837
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 869
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 901
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 933
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 965
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 997
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1029
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1061
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1093
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1125
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1157
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1189
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1221
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1253
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1285
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1317
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1349
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1381
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1413
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1445
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1477
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1509
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1541
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1573
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1605
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1637
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1669
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1701
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1733
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1765
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1797
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1829
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1861
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1893
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1925
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1957
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1989
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2021
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2053
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2085
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2117
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2149
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2181
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2213
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2245
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2277
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2309
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2341
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2373
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2405
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2437
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2469
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2501
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2533
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2565
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2597
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2629
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2661
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2693
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2725
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2757
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2789
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2821
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2853
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2885
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2917
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2949
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 2981
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3013
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3045
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3077
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3109
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3141
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3173
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3205
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3237
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3269
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3301
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3333
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3365
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3397
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3429
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3461
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3493
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3525
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3557
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3589
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3621
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3653
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3685
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3717
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3749
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3781
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3813
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3845
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3877
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3909
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3941
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 3973
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4005
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4037
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4069
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4101
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4133
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4165
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4197
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4229
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4261
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4293
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4325
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4357
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4389
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4421
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4453
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4485
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4517
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4549
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4581
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4613
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4645
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4677
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4709
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4741
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4773
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4805
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4837
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4869
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4901
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4933
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4965
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 4997
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5029
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5061
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5093
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5125
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5157
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5189
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5221
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5253
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5285
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5317
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5349
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5381
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5413
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5445
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5477
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5509
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5541
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 5573
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 6373
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 806
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 6374
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 807
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5575
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5607
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 5639
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 5671
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 5703
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 5735
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 5767
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 5799
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 5831
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 5863
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 5895
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 5927
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 5959
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 5991
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 6023
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 6055
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 6087
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 6119
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 6151
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 6183
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 6215
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 6247
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 6279
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 6311
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 6343
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 6375
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 808
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5576
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 809
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5577
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 810
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5578
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 811
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5579
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 812
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5580
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 813
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5581
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 814
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5582
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 815
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5583
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 816
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5584
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 17
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 49
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 81
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 113
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 145
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 177
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 209
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 241
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 273
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 305
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 337
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 369
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 401
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 433
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 465
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 497
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 529
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 561
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 593
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 625
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 657
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 689
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 721
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 753
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 785
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 817
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 5585
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 18
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5586
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 19
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 819
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 851
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 883
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 915
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 947
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 979
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1011
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1043
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1075
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1107
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1139
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1171
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1203
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1235
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1267
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1299
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1331
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1363
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1395
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1427
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1459
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1491
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1523
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1555
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1587
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1619
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1651
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1683
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1715
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1747
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1779
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1811
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1843
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1875
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1907
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1939
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1971
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2003
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2035
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2067
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2099
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2131
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2163
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2195
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2227
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2259
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2291
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2323
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2355
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2387
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2419
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2451
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2483
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2515
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2547
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2579
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2611
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2643
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2675
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2707
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2739
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2771
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2803
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2835
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2867
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2899
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2931
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2963
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 2995
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3027
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3059
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3091
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3123
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3155
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3187
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3219
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3251
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3283
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3315
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3347
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3379
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3411
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3443
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3475
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3507
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3539
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3571
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3603
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3635
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3667
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3699
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3731
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3763
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3795
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3827
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3859
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3891
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3923
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3955
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 3987
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4019
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4051
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4083
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4115
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4147
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4179
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4211
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4243
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4275
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4307
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4339
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4371
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4403
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4435
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4467
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4499
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4531
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4563
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4595
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4627
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4659
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4691
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4723
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4755
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4787
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4819
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4851
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4883
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4915
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4947
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 4979
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5011
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5043
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5075
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5107
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5139
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5171
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5203
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5235
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5267
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5299
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5331
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5363
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5395
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5427
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5459
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5491
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5523
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5555
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 5587
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 20
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 820
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 852
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 884
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 916
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 948
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 980
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1012
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1044
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1076
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1108
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1140
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1172
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1204
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1236
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1268
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1300
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1332
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1364
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1396
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1428
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1460
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1492
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1524
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1556
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1588
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1620
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1652
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1684
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1716
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1748
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1780
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1812
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1844
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1876
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1908
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1940
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1972
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2004
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2036
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2068
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2100
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2132
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2164
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2196
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2228
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2260
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2292
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2324
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2356
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2388
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2420
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2452
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2484
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2516
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2548
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2580
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2612
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2644
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2676
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2708
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2740
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2772
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2804
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2836
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2868
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2900
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2932
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2964
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2996
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3028
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3060
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3092
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3124
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3156
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3188
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3220
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3252
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3284
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3316
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3348
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3380
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3412
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3444
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3476
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3508
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3540
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3572
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3604
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3636
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3668
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3700
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3732
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3764
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3796
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3828
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3860
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3892
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3924
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3956
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3988
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4020
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4052
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4084
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4116
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4148
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4180
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4212
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4244
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4276
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4308
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4340
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4372
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4404
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4436
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4468
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4500
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4532
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4564
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4596
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4628
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4660
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4692
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4724
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4756
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4788
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4820
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4852
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4884
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4916
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4948
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4980
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5012
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5044
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5076
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5108
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5140
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5172
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5204
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5236
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5268
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5300
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5332
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5364
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5396
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5428
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5460
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5492
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5524
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5556
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5588
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5620
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5652
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5684
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5716
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5748
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5780
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5812
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5844
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5876
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5908
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5940
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5972
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6004
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6036
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6068
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6100
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6132
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6164
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6196
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6228
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6260
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6292
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6324
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6356
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6388
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 21
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 6389
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 22
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 6390
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 23
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 6391
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 24
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 56
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 88
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 120
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 152
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 184
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 216
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 248
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 280
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 312
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 344
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 376
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 408
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 440
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 472
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 504
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 536
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 568
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 600
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 632
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 664
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 696
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 728
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 760
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 792
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 824
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 856
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 888
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 920
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 952
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 984
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1016
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1048
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1080
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1112
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1144
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1176
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1208
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1240
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1272
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1304
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1336
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1368
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1400
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1432
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1464
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1496
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1528
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1560
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1592
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1624
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1656
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1688
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1720
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1752
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1784
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1816
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1848
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1880
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1912
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1944
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1976
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2008
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2040
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2072
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2104
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2136
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2168
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2200
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2232
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2264
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2296
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2328
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2360
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2392
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2424
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2456
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2488
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2520
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2552
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2584
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2616
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2648
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2680
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2712
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2744
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2776
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2808
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2840
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2872
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2904
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2936
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2968
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3000
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3032
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3064
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3096
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3128
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3160
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3192
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3224
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3256
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3288
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3320
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3352
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3384
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3416
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3448
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3480
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3512
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3544
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3576
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3608
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3640
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3672
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3704
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3736
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3768
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3800
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3832
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3864
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3896
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3928
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3960
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3992
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4024
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4056
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4088
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4120
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4152
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4184
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4216
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4248
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4280
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4312
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4344
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4376
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4408
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4440
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4472
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4504
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4536
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4568
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4600
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4632
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4664
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4696
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4728
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4760
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4792
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4824
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4856
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4888
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4920
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4952
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 4984
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5016
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5048
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5080
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5112
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5144
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5176
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5208
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5240
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5272
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5304
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5336
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5368
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5400
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5432
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5464
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5496
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5528
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5560
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5592
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5624
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5656
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5688
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5720
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5752
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5784
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5816
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5848
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5880
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5912
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5944
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 5976
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6008
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6040
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6072
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6104
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6136
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6168
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6200
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6232
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6264
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6296
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6328
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6360
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 6392
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
